<!DOCTYPE html>
<html>
  <head>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
   <style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/calendar.css" />
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <script defer src="/javascripts/frontEnd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    

  </head>
  <body>

    <!-- navbar stuff -->
    <nav class= "top-bar">
      <h1 class="title">BettrMe</h1>
      
       
          <a class = "login" href="/auth/google"><i class="material-icons left"></i>Login</a>
        
        
      
    </nav>
    <nav class="second">
      <div class="time">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="clock" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
      </svg>
      <div id="currentTime"></div>
    </div>
    <div class='top-message'>Good
      <span class="time-word"> </span>
      !
    </div>
   <!-- <div class="progress-section-container"> <div class = 'progress-container'><div class='progress-percent'>0%</div><div class='progress-meter'><div class="progress-fill" style="width:0%"> </div></div></div></div> -->
    </nav>


    <div class='login-msg'>
        Please Login to use the App :)
    </div>

    </body>
    </html>