.intro-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.intro-modal {
  position: relative;
  background-color: rgba(4, 6, 88, .97);
  width: 60vw;
  height: 80vh;
  border-radius: 1vh;
  border: 2px solid rgb(204, 204, 204);
  z-index: 5;
  font-size: 2vh;
  color: rgb(185, 185, 185);
  line-height: 150%;
  letter-spacing: 1px;
  font-family: "Outfit", sans-serif;
  max-width: 1200px;
  /* font-family: 'Roboto', sans-serif; */
}
@media only screen and (max-width: 2000px) {
  .intro-modal {
    max-width:900px;
  }
}


.intro-modal-title {
    color: white;
    font-size: 37px;
    margin-top: 1vh;
    font-weight: bold;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
    letter-spacing: 2px;
}
.message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:30%;
    padding-bottom:5% 0;
}
.intro-message{
    width:75%;
    text-align: center;
    letter-spacing: 1px;
    
}
.intro-form{
    grid-row-start: 1;
    display: flex;
    height: 40%;
    color: rgb(206, 206, 206);
    flex-direction: column;
    justify-content: space-around;
    padding-top: -15%;
    
}

.intro-btn-container {
  grid-row-start: 2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 12vh;
}
.intro-submit {
  height: 60px;
  width: 190px;
  padding: 1vh;
  border-radius: 30px;
  border: 4px solid #ffffff;
  background-color: rgb(2, 146, 33);
  color: white;
  cursor: pointer;

  font-size: 35px;
  font-weight: 500;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-submit:hover {
  background-color: rgb(2, 185, 42);
}
.delete {
  background-color: rgb(190, 35, 35);
}
.delete:hover {
  background-color: rgb(255, 81, 81);
}
.intro-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: 900;
  color: white;
  cursor: pointer;
  border-radius: 4vh;

  background-color: rgb(214, 63, 63);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Indie Flower", cursive;
}
.prompt{
  font-weight: 600;
  color:white;
  
}

.intro-modal-input {
  border: none;
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  background-color:white;
  height: 13%;
  border: 5vh;
  width: 40%;
  font-size: 38px;
  background-color: rgb(255, 255, 255);
    /* outline:1px solid #959ceb; */
    outline: 5px solid rgba(149, 156, 235, 0.3);
    border-radius: 2px;
  padding-left: 10px;
  font-size: 3.2vh;
  font-family: "Outfit", sans-serif;
text-align: center;
}
select{
  border: none;
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  background-color:white;
  height: 13%;
  border: 5vh;
  width: 50%;
  font-size: 38px;
  background-color: rgb(255, 255, 255);
    /* outline:1px solid #959ceb; */
    outline: 5px solid rgba(149, 156, 235, 0.3);
    border-radius: 2px;
  padding-left: 10px;
  font-size: 3.2vh;
  font-family: "Outfit", sans-serif;
text-align: center;
}
.time-input-container{
  display: flex;
}
.wake-up{
  height: 100%;
  width:170px !important;
  display: inline;
  margin: 0 1vw;
}
#meridian{
  height:100%;
  display: inline;
  width:5vw
}
select{
  text-align:center;
}
#intro-modal-input:focus {
  background: linear-gradient(
    to left,
    rgba(184, 9, 9, 0),
    rgba(255, 255, 255, 0.9) 0.5%,
    rgba(255, 255, 255, 0.9) 99.5%,
    transparent 100%
  );
  
}

.intro-modal-close:hover {
  background-color: var(--modal-close);
}
