:root {
  --side-border: #336be4;
  --box-bg: rgb(123, 172, 172);
  --red-pulse: rgb(158, 44, 15);
}
.right-side-container {
  display: grid;
  grid-template-rows: 12% 30% 25% 30%;
}
.box-header {
  background-color: var(--side-border);
  border-radius: 10px 10px 0 0;
  color: rgb(228, 227, 255);
  font-family: "Outfit", sans-serif;
  padding-left: 1vw;
  font-size: 1.7vh;
}

/* top box (streak box) */
.streak-val-container {
  align-items: center;
}
.streak-val-box {
  width: 85%;
  height: 60%;
  margin-top: 9%;
  color: white;
  text-align: center;
  font-family: "Outfit", sans-serif;
  background-color: var(--box-bg);
  font-size: 3vh;
  border: 1px solid var(--side-border);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.streak-val-box span {
  margin-left: 1vw;
}

/* 30-day challenge box */
.streak-visual-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.streak-visual-box {
  display: grid;
  grid-template-rows: 2.4vh 1fr;
  width: 85%;
  height: 85%;
  background-color: var(--box-bg);
  border: 1px solid var(--side-border);
  border-radius: 14px;
}
.streak-visual-container {
  display: flex;
  justify-content: left;
  align-items: center;
}
.streak-visual {
  width: 97%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
/* grid-making classes */
.streak-visual-day {
  width: 14%;
  height: 19.2%;
  color: white;
  border: 1px solid rgba(216, 216, 216, 0.818);
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-top {
  border-top: none;
}
.no-left {
  border-left: none;
}
.no-right {
  border-right: none;
}
.no-bottom {
  border-bottom: none;
}
.red-circle {
  border-radius: 50%;
  position: relative;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background-color: rgb(153, 47, 47);
}

/* info-box */
.info-div-container {
  display: flex;
  justify-content: left;
  align-items: center;
}
.info-box-header {
  background-color: var(--side-border);
  border-radius: 10px 10px 0 0;
  color: rgb(228, 227, 255);
  font-family: "Outfit", sans-serif;
  padding-left: 1vw;
  font-size: 1.7vh;
}


.info-div-box {
  width: 85%;
  height: 95%;
  background-color: var(--box-bg);
  border: 1px solid var(--side-border);
  border-radius: 14px;
  display: grid;
  grid-template-rows: 2.4vh 1fr;
}
.info-container {
  padding: 4% 8%;
  text-align: center;
  color: rgb(230, 230, 230);
  font-size: 2vh;
  overflow-y: scroll;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; 
}

.info-container::-webkit-scrollbar {
  width: 8px;
}
.info-container::-webkit-scrollbar-track {
  background: rgba(234, 221, 251, 0);
  border-radius: 20px;
  /* color of the tracking area */
}
.info-container::-webkit-scrollbar-thumb {
  background-color: rgba(105, 105, 105, 0.5); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* quote box (bottom-box) */
.quote-container {
  display: flex;
  justify-content: left;
  align-items: center;
}
.quote-box {
  width: 85%;
  height: 85%;
  background-color: var(--box-bg);
  background-image:url("/images/bg1.jpg");
  background-size: cover;
  
  border: 1px solid var(--side-border);
  border-radius: 14px;
  display: grid;
  grid-template-rows: 2.4vh 1fr;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  padding-top: 1vh;
  color: rgb(227, 227, 227);
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.477), 1px -1px 0 rgb(40, 40, 40), -1px 1px 0 rgba(0, 0, 0, 0.693), 1px 1px 0 rgb(29, 29, 29);
  text-align: center;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.quote::-webkit-scrollbar {
  width: 8px;
}
.quote::-webkit-scrollbar-track {
  background: rgba(234, 221, 251, 0);
  border-radius: 20px;
  /* color of the tracking area */
}
.quote::-webkit-scrollbar-thumb {
  background-color: rgba(105, 105, 105, 0.5); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  overflow: hidden;
}
.quote-text {
  font-family: "Bebas Neue", cursive;
  font-size: 3.3vh;
  margin: 0;
  max-width: 25vw;
  text-align: inherit;
}
.author {
  font-family: "Bebas Neue", cursive;
  width: 100%;
  font-size: 2.5vh;
  margin-top: 1vh;
  text-align: right;
}
.source {
  color: rgb(86, 86, 252);
}
.source:hover {
  color: rgb(73, 73, 255);

}


/* tutorial animations */
@keyframes redBorder {
  50% {
    border-color: var(--red-pulse);
  }
}
.info-pulse {
  animation: pulseText;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
}
@keyframes pulseText {
  50% {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
}
.green {
  color: rgb(7, 130, 7);
  font-weight: bold;
}
.red {
  color: rgb(163, 37, 37);
  font-weight: bold;
}
.grey {
  color: rgb(96, 96, 96);
  font-weight: bold;
}
.info-red {
  background-color: var(--red-pulse);
}

.border-red {
  border: 1px solid var(--red-pulse) !important;
}