
#side-btn-div{
    grid-row-start: 2;
  display: flex;
  justify-content: center;
   align-items: center;
   padding:3%;
   border-top:1px solid rgb(95, 105, 107);
   margin-left:8%;
   margin-right:8%;
    
}
.side-goal-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:4vh;
    border-bottom: 1px solid black;
    padding-left: .5vw;
  }
  #edit{
      display: inline;
      position: relative;
      top: .8vh
  }

  #delete{
    display: inline;
    position: relative;
    top: .8vh;
    margin-left: .5vh;

}
  .side-goal-links {
    text-decoration: none;
    font-size: 1.3vh;
    margin:0 0.2vh;
    
  }
  #side-goal-list{
    grid-row-start: 1;  
    padding:1.4vw;
    display: flex;
    flex-direction: column;
   
    
    font-size: 1.7vh;
  }
.modal-btn {
    width:110%;
    height: 73%;
    margin:0;
    background-color: green;
    border-radius: 4vh;
    border: 2px solid #bbb;
    font-size: 2vw;
    color:white;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
    box-sizing: border-box;
}
.edit{
  cursor:pointer;
  text-decoration: underline;
  position: relative;
  top:1vh;
}